@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.t-container {
  display: flex;
  flex-direction: column;
}
.head1 {
  font-size: 1.2rem;
}
.head2 {
  font-size: 1.1rem;
}
.subtitle {
  font-size: 0.98rem;
  color: rgb(49, 49, 49);
}
.para {
  font-size: 0.9rem;
  color: rgb(62, 62, 62);
}
.url {
  font-size: 0.95rem;
}

.icon {
  size: 16px;
  color: black;
}
.iconContainer {
  padding: 2px;
}
.iconContainer:hover {
  background-color: black;
  color: white;
}
